<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.\
Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

"mamba" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"mamba" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp39-cp39-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
  Attempting uninstall: lxml

ERROR: Could not install packages due to an OSError: [WinError 5] Acceso denegado: 'C:\\Users\\Adolfo Ayuso Hdz\\anaconda3\\Lib\\site-packages\\~xml\\etree.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

    Found existing installation: lxml 4.6.3
    Uninstalling lxml-4.6.3:
      Successfully uninstalled lxml-4.6.3

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data Example

First we must use the `request` library to downlaod the webpage, and extract the text. We will extract Netflix stock data <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html>.

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

Next we must parse the text into html using `beautiful_soup`

In [13]:
soup = BeautifulSoup(data, 'html5lib')
#my_code
tables=soup.find_all("table")
rows=tables[0].find_all("tr")
for row in rows:
    cells=row.find_all("td")
    for cell in cells:
        print(cell.text)

Jun 01, 2021
504.01
536.13
482.14
528.21
528.21
78,560,600
May 01, 2021
512.65
518.95
478.54
502.81
502.81
66,927,600
Apr 01, 2021
529.93
563.56
499.00
513.47
513.47
111,573,300
Mar 01, 2021
545.57
556.99
492.85
521.66
521.66
90,183,900
Feb 01, 2021
536.79
566.65
518.28
538.85
538.85
61,902,300
Jan 01, 2021
539.00
593.29
485.67
532.39
532.39
139,988,600
Dec 01, 2020
492.34
545.50
491.29
540.73
540.73
77,564,100
Nov 01, 2020
478.87
518.73
463.41
490.70
490.70
91,788,900
Oct 01, 2020
506.03
572.49
472.21
475.74
475.74
154,302,400
Sep 01, 2020
532.60
557.39
458.60
500.03
500.03
118,796,900
Aug 01, 2020
490.86
549.04
466.55
529.56
529.56
116,261,900
Jul 01, 2020
454.00
575.37
454.00
488.88
488.88
232,206,300
Jun 01, 2020
418.83
474.01
404.25
455.04
455.04
117,279,900
May 01, 2020
415.10
458.97
397.86
419.73
419.73
135,055,800
Apr 01, 2020
376.05
449.52
357.51
419.85
419.85
225,111,600
Mar 01, 2020
373.11
393.52
290.25
375.50
375.50
201,979,100
Feb 01, 2020
347.24
392.95
346.28
369.03
369.03
114,056,000
Jan 01, 2020
326.10
359.85
321.20
345.09
345.09
169,874,000
Dec 01, 2019
314.39
338.00
292.02
323.57
323.57
124,723,600
Nov 01, 2019
288.70
316.82
281.14
314.66
314.66
113,645,900
Oct 01, 2019
267.35
308.75
257.01
287.41
287.41
231,556,400
Sep 01, 2019
290.82
301.55
252.28
267.62
267.62
175,411,300
Aug 01, 2019
324.25
328.58
287.20
293.75
293.75
137,076,700
Jul 01, 2019
373.50
384.76
305.81
322.99
322.99
196,652,500
Jun 01, 2019
343.56
375.00
332.65
367.32
367.32
111,052,000
May 01, 2019
374.00
385.99
341.39
343.28
343.28
125,298,300
Apr 01, 2019
359.00
384.80
342.27
370.54
370.54
165,079,400
Mar 01, 2019
362.26
379.00
342.47
356.56
356.56
144,843,100
Feb 01, 2019
337.18
371.49
336.50
358.10
358.10
148,192,100
Jan 01, 2019
259.28
358.85
256.58
339.50
339.50
306,616,400
Dec 01, 2018
293.19
298.72
231.23
267.66
267.66
234,310,000
Nov 01, 2018
304.59
332.05
250.00
286.13
286.13
257,126,400
Oct 01, 2018
375.85
386.80
271.21
301.78
301.78
363,589,800
Sep 01, 2018
366.47
383.20
335.83
374.13
374.13
170,832,100
Aug 01, 2018
335.87
376.81
310.93
367.68
367.68
213,122,300
Jul 01, 2018
385.45
419.77
328.00
337.45
337.45
305,393,800
Jun 01, 2018
353.88
423.21
352.82
391.43
391.43
244,031,800
May 01, 2018
310.36
356.10
305.73
351.60
351.60
142,050,800
Apr 01, 2018
291.94
338.82
271.22
312.46
312.46
262,006,000
Mar 01, 2018
292.75
333.98
275.90
295.35
295.35
263,449,400
Feb 01, 2018
266.41
297.36
236.11
291.38
291.38
184,585,800
Jan 01, 2018
196.10
286.81
195.42
270.30
270.30
238,377,600
Dec 01, 2017
186.99
194.49
178.38
191.96
191.96
115,103,700
Nov 01, 2017
197.24
202.48
184.32
187.58
187.58
110,996,600
Oct 01, 2017
182.11
204.38
176.58
196.43
196.43
208,657,800
Sep 01, 2017
175.55
189.95
172.44
181.35
181.35
111,427,900
Aug 01, 2017
182.49
184.62
164.23
174.71
174.71
136,534,400
Jul 01, 2017
149.80
191.50
144.25
181.66
181.66
185,144,700
Jun 01, 2017
163.52
166.87
147.30
149.41
149.41
135,699,700
May 01, 2017
151.91
164.75
151.61
163.07
163.07
116,795,800
Apr 01, 2017
146.70
153.52
138.66
152.20
152.20
149,779,000
Mar 01, 2017
142.84
148.29
138.26
147.81
147.81
110,692,700
Feb 01, 2017
141.20
145.95
139.05
142.13
142.13
91,444,800
Jan 01, 2017
124.96
143.46
124.31
140.71
140.71
181,814,100
Dec 01, 2016
117.52
129.07
113.95
123.80
123.80
128,528,700
Nov 01, 2016
124.98
125.83
110.68
117.00
117.00
147,513,000
Oct 01, 2016
98.00
129.29
97.63
124.87
124.87
274,097,800
Sep 01, 2016
97.81
100.35
93.26
98.55
98.55
169,670,600
Aug 01, 2016
91.23
98.85
90.50
97.45
97.45
182,611,000
Jul 01, 2016
95.00
101.27
84.50
91.25
91.25
320,138,000
Jun 01, 2016
101.50
102.15
84.81
91.48
91.48
218,216,500
May 01, 2016
90.41
104.00
85.74
102.57
102.57
264,997,900
Apr 01, 2016
102.93
111.85
88.21
90.03
90.03
340,174,300
Mar 01, 2016
94.58
104.91
93.61
102.23
102.23
311,333,700
Feb 01, 2016
91.79
97.48
79.95
93.41
93.41
389,268,900
Jan 01, 2016
109.00
122.18
90.11
91.84
91.84
488,193,200
Dec 01, 2015
124.47
133.27
113.85
114.38
114.38
319,939,200
Nov 01, 2015
109.20
126.60
101.86
123.33
123.33
320,321,800
Oct 01, 2015
102.91
115.83
96.26
108.38
108.38
446,204,400
Sep 01, 2015
109.35
111.24
93.55
103.26
103.26
497,401,200
*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.

Now we can turn the html table into a pandas dataframe

In [14]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

We can now print out the dataframe

In [15]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

We can also use the pandas `read_html` function using the url

In [17]:
read_html_pandas_data = pd.read_html(url)
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Or we can convert the BeautifulSoup object to a string

In [19]:
read_html_pandas_data = pd.read_html(str(soup))
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Beacause there is only one table on the page, we just take the first table in the list returned

In [20]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

## Using Webscraping to Extract Stock Data Exercise

Use the `requests` library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html>. Save the text of the response as a variable named `html_data`.

In [21]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup`.

In [30]:
aws_soup=BeautifulSoup(html_data, 'html5lib')
aws_soup.title.text
amazon_data=pd.read_html(url)

<b>Question 1</b> What is the content of the title attribute:

In [28]:
aws_soup.title.text

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`.

In [ ]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = #ADD_CODE
    Open = #ADD_CODE
    high = #ADD_CODE
    low = #ADD_CODE
    close = #ADD_CODE
    adj_close = #ADD_CODE
    volume = #ADD_CODE
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

Print out the first five rows of the `amazon_data` dataframe you created.

In [32]:
amazon_data[0]

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 01, 2021",3270.00,3363.89,3086.00,3206.20,3206.20,71528900
1,"Dec 01, 2020",3188.50,3350.65,3072.82,3256.93,3256.93,77556200
2,"Nov 01, 2020",3061.74,3366.80,2950.12,3168.04,3168.04,90810500
3,"Oct 01, 2020",3208.00,3496.24,3019.00,3036.15,3036.15,116226100
4,"Sep 01, 2020",3489.58,3552.25,2871.00,3148.73,3148.73,115899300
...,...,...,...,...,...,...,...
57,"Apr 01, 2016",590.49,669.98,585.25,659.59,659.59,78464200
58,"Mar 01, 2016",556.29,603.24,538.58,593.64,593.64,94009500
59,"Feb 01, 2016",578.15,581.80,474.00,552.52,552.52,124144800
60,"Jan 01, 2016",656.29,657.72,547.18,587.00,587.00,130200900
61,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

<b>Question 2</b> What is the name of the columns of the dataframe

In [38]:
amazon_data[0].columns

Index(['Date', 'Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume'], dtype='object')

<b>Question 3</b> What is the `Open` of the last row of the amazon_data dataframe?

In [50]:
#amazon_data=amazon_data[0].drop(61)
amazon_data.shape
amazon_data.loc[60,"Open"]

'656.29'

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description |
| ----------------- | ------- | ---------- | ------------------ |

```
| 2021-06-09       | 1.2     | Lakshmi Holla|Added URL in question 3 |
```

\| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
\| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>